<div ng-controller="GeoListController">
  <super-navbar>
    <super-navbar-title>ToDo</super-navbar-title>
  </super-navbar>

  <ul class="list">
    <super-navigate location="xlist#home" ng-repeat="pair in pairs" data-params-id="{{ pair.geoList.data.id }}">
      <li class="item">
        <h2>{{ pair.geoList.name }}</h2>
        <p>{{ pair.geoList.storeName }}</p>
        <p>{{ pair.geoList.address }}</p>
      </li>
    </super-navigate>
  </ul>
  <!-- <button class="button button-block button-positive" ng-click="setLocation()">Simulate Location</button> -->
</div>