<div ng-controller="HomeController">
  <div class="fake-navbar" ng-show="showFakeNavbar">
    <img src="/icons/todo_logo_white.png" height="45" class="fake-navbar-logo">
    <button class="fake-navbar-button fake-right-button" ng-click="addGeoList()">Add</button>
  </div>

  <div ng-repeat="pair in pairs">
    <div class="item row">
      <div class="col col-90">
        <super-navigate location="xlist#list" data-params-id="{{ pair.geoList.data.id }}">
          <h2>{{ pair.geoList.name }}</h2>
          <p ng-hide="pair.geoList.storeName || pair.geoList.address">Tap to add store location</p>
          <p ng-show="pair.geoList.storeName">{{ pair.geoList.storeName }}</p>
          <p ng-show="pair.geoList.address">{{ pair.geoList.address }}</p>
          <p>{{ pair.completeTasks }} completed tasks | {{ pair.incompleteTasks }} incomplete tasks</p>
        </super-navigate>
      </div>
      <div class="col col-10 col-center">
        <button class="button button-small button-icon icon super-ios-close" style="line-height: 0px;" ng-click="deleteGeoList(pair)"></button>
      </div>
    </div>
  </div>
  <div class="list-placeholder" ng-show="pairs.length === 0" ng-click="addGeoList()">
    <h3>Tap to add a list</h3>
    <i class="icon-right super-plus-circled"></i>
  </div>
</div>
