<div id="map_canvas" ng-controller="LocationController">
  <script type="text/ng-template" id="searchbox.tpl.html">
    <input id="map-search-box" type="text" placeholder="Search for location">
  </script>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
    <ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>
    <ui-gmap-markers models="markers" coords="'coords'"></ui-gmap-markers>
  </ui-gmap-google-map>
</div>